<div class="main-container">
  <div class="container-header" fxLayoutAlign="center">
  </div>
  <div fxLayoutAlign="center">
    <div class="container-content mat-elevation-z2">
      <div class="login-header" fxLayoutAlign="center">
        Login
      </div>
      <div class="login-content">
        <form>
          <div>
            <md-form-field fxFlex>
              <input mdInput placeholder="Email">
            </md-form-field>
          </div>
          <div>
            <md-form-field fxFlex>
              <input mdInput placeholder="Password" type="password">
            </md-form-field>
          </div>
          <br>
          <div>
            <md-checkbox>Remember Me</md-checkbox>
          </div>
          <!-- <br> -->
          <br>
          <div>

            <button md-button md-raised-button color="accent" routerLink="/" fxFlex>Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
