.tab-content {
  margin: 30px 30px;
}


.radio-button-space {
  margin-top: 24px;
}

.buttom-space {
  margin-bottom: 20px;
}
.top-space{
  margin-top: 16px;
}
td{
  // padding:5px;
  text-align: center;
  width: 12.5%;
  padding: 5px;
}
md-select, md-input-container{
  padding: 2px;
  width:98%;
}
