@import './../../../core/styles/variables.scss';

.add-floating-button{
  position: absolute;
  margin: -30px 28px;
}

// .student-list-container{
//     // min-height: 300px;
// }

img{
  border-radius: 24px;
}

.filter-container{
  padding: 5px 25px;
  border-bottom: 1px solid $primary-color;
  
  .student-filter{
    width: 150px;
  }
}

.search-input {
  border: none;
  outline: none;
  padding: 12px;
  font-size: 16px;
}
